/.ipynb_checkpoints
/.vscode
/circuit.png
/Conductance_f_TOhm.pdf
/current_B.pdf
/current_DUT.pdf
/diff_conductance.pdf
/G_SR865A.pdf
/lockin_model_td.ipynb
/measured.csv
/Noise_R.pdf
/Noise_Theta.pdf
/non_stationary.pdf
/non_stationary10.pdf
/non_stationary100.pdf
/non_stationary1000.pdf
/non_stationary2000.pdf
/non_stationary500.pdf
/non_stationary5000.pdf
/non_stationary_filt.pdf
/no_Noise_G.pdf
/no_Noise_Theta.pdf
/SR570_function.pdf
/SR570_Gain_f.png
/SR570_signal.pdf
/SR865A_amp_signal.pdf
/telegraph_process.pdf
/telegraph_process_sin.pdf
/Theta_f_TOhm.pdf
/Theta_SR865A.pdf
/tlegraph.pdf
/XYR_SR865A.pdf